.notFound {
    height: 100vh;

    .mainbox {
        background-color: #95c2de;
        height: 100%;
        width: 100%;
        position: relative;
        padding-top: 2rem;
    }

    .mainbox .digit404 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .err {
        color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11rem;
    }

    .far {
        font-size: 7.8rem;
        color: #ffffff;
    }

    .err2 {
        color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11rem;
    }

    .msg {
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.5rem;
        width: 90%;
        margin: auto;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }

    .fa-spin {
        animation: spin 5s linear infinite;
    }

    @media screen and (max-width: 768px) {
        .msg {
            font-size: 1rem;
        }
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
}