.projects {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectCardWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 767px) {
  .projects {
    width: 100% !important;
  }

  .projectCardWrapper {
    grid-template-columns: unset;
  }
}
