.skills {
  .text-center {
    p {
      font-size: 18px;
    }
  }
  .skill_catagory {
    width: 60%;
    .skill_label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      color: #718096;
      padding: 8px 16px;
      border-radius: 9999px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -1px rgba(0, 0, 0, 0.06);
      }
    }
  }
  .skill_list {
    width: 60%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 1rem 0;
    max-height: 50vh;
    overflow: hidden scroll;
  }
}
