.skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text-center {
    p {
      font-size: 18px;
    }
  }
  .skill_catagory {
    width: 65%;
    .skill_label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      color: #718096;
      padding: 8px 16px;
      border-radius: 9999px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -1px rgba(0, 0, 0, 0.06);
      }
    }
  }
  .skill_list {
    width: 65%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 1rem 0;
    max-height: 50vh;
    min-height: 50vh;
    overflow: hidden scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
  }
}
@media screen and (max-width: 992px) {
  .skills {
    padding-top: 10vh !important;
    .skill_catagory {
      width: 70%;
    }
    .skill_list {
      width: 70%;
    }
  }
}
@media screen and (max-width: 992px) {
  .skills {
    padding-top: 2vh !important;
    .skill_catagory {
      width: 75%;
      .skill_label {
        margin-top: 15px;
      }
    }
    .skill_list {
      width: 90%;
    }
  }
}
