.activity {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .activity_graph {
    a {
      display: flex;
      justify-content: center;
      img {
        width: 70%;
      }
    }
  }
  .contribution_info {
    display: flex;
    justify-content: center;
    gap: 10px;
    img {
      height: 150px;
    }
  }
  .github_push {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 767px) {
    .activity_graph,
    .githubStat,
    .github_push,
    .contribution_info {
      width: 100% !important;
    }
    .contribution_info {
      flex-direction: column;
      align-items: center !important;
      justify-content: center !important;
      a {
        display: grid;
        place-items: center;
        img {
          width: 100%;
          height: unset;
        }
      }
    }
  }
}
