.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: inherit;
  background-color: inherit;
  transition: all 0.5s ease-in-out;
}

.contact .contact_body {
  width: 60%;
  padding: 20px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 0.375rem;
}

.contact .contact_body form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact .contact_body form input,
.contact .contact_body form textarea {
  border: 2px solid #232934;
  background-color: #232934;
  box-shadow: none;
  color: inherit;
}

.contact .contact_body form input:hover,
.contact .contact_body form textarea:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.contact .contact_body form input:focus,
.contact .contact_body form textarea:focus {
  background-color: inherit !important;
}

.contact .contact_body form input:focus-visible,
.contact .contact_body form textarea:focus-visible {
  border: 2px solid rgb(99, 179, 237) !important;
}

@media screen and (max-width: 992px) {
  .contact .contact_body {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .contact .contact_body {
    width: 100%;
  }
}
