#timeline {
  width: 100%;
  background-color: inherit;
  .timelineBox {
    width: 100%;
    // height: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      width: 6px;
      background-color: inherit;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      top: 0%;
      bottom: 0%;
      left: 50%;
      margin-left: -3px;
    }
  }
  .timelineItem {
    position: relative;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    &:nth-child(odd) {
      text-align: right;
      &::after {
        animation: upanddown 0.7s infinite ease-in alternate;
      }
    }
    &:nth-child(even) {
      text-align: left;
      &::after {
        animation: upanddown 0.8s infinite ease-in alternate;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      right: -10px;
      background-color: inherit;
      border: 3px solid #fff;
      border-radius: 50%;
      z-index: 1;
    }
    a {
      text-decoration: none;
      color: white;
      div {
        padding: 20px;
        background-color: inherit;
        color: white;
        border-radius: 10px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
          0 10px 10px -5px rgba(0, 0, 0, 0.04);
        border: 1px solid rgb(45, 55, 72);
        transition: all 0.5s ease;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }

  .leftTimeLine {
    padding: 1rem 3rem 1rem 5px;
    left: 0;
  }
  .rightTimeLine {
    padding: 1rem 5px 1rem 3rem;
    left: 50%;
    &::after {
      left: -11px;
    }
  }
}

@media screen and (max-width: 767px) {
  #timeline {
    // height: 460px;
    // don't show scrollbar without hampering the scroll behaviour
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    &::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
    }
    // don't show scrollbar without hampering the scroll behaviour
    .timelineBox::after {
      left: 31px;
    }
    .timelineItem {
      width: 100%;
      padding-left: 4rem !important;
      padding-right: 1rem !important;
      &::after {
        left: 20px;
      }
      &:nth-child(odd) {
        text-align: left;
      }
      a {
        div {
          padding: 15px;
        }
      }
    }
    .leftTimeLine {
      left: 0;
    }
    .rightTimeLine {
      left: 0;
    }
  }
}
