.projects {
    width: 85%;
  .card-wrapper {
    .card {
      height: 60vh;
      width: 95%;
      margin: auto;
      .img-wrapper {
        height: 30%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 0.375rem;
        }
      }
    }
  }
}
