.certificates .certificateCardWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
}

.certificates .certificateCardWrapper .certificateCard img {
  width: 100%;
  height: 380px;
}

.certificates .certificateCardWrapper .certificateCard:nth-child(odd) {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .certificates .certificateCardWrapper .certificateCard img {
    height: 250px;
  }
}

@media (max-width: 767px) {
  .certificates .certificateCardWrapper {
    grid-template-columns: unset;
    width: 100%;
  }

  .certificates .certificateCardWrapper .certificateCard {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .certificates .certificateCardWrapper .certificateCard img {
    height: 300px;
  }

  .certificates .certificateCardWrapper .certificateCard:nth-child(odd) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
