.footer {
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  section {
    width: 100%;
    flex: 1;
  }
  div {
    flex: 2;
    width: 100%;
    border-left: 2px solid;
    border-right: 2px solid;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: contain;
    }
    h2 {
      margin: 1rem;
    }
    p {
      font: 400 1.2rem "Open Sans", sans-serif;
      margin: 0px;
    }
  }

  aside {
    flex: 1;
    article {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      a {
        transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    flex-direction: column;
    gap: 30px;
    div {
      order: 1;
      border: none;
    }
    aside {
      order: 2;
    }
    section {
      order: 3;
    }
  }
}
