/* font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condensed" sans-serif;
}

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-dark: rgba(255, 255, 255, 0);
}

/* navbar css  */

.navbar {
  height: 10vh !important;
  width: 100vw !important;
  z-index: 20;
  position: fixed !important;
}
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  width: 4rem;
}

nav a.nav-link {
  letter-spacing: 0.03rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin: 0 0.75rem 0 0.75rem;
  border-bottom: 0.1875rem solid var(--primary-dark);
}
.navbar-nav > li > a:active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid var(--primary-orange) !important;
}

/* Home css  */

.Home-wraper {
  background: url(../src/components/Images/laptopBackgroundImage.jpg) no-repeat;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-info {
  height: 50%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-info > h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

#btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
  text-decoration: none;
  width: fit-content;
}
#btn-main-offer:hover {
  color: var(--primary-white);
  background-color: var(--primary-hover-red);
  transition: 0.2 ease-in-out;
}

/* about me css  */
#aboutMe {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  background-color: rgb(47, 49, 49);
}
.resume > a {
  text-decoration: none;
  color: var(--primary-white);
}
.resume > a:hover {
  text-decoration: none;
  color: var(--primary-white);
}
#downloadResume {
  border: 1px solid var(--primary-white);
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  width: fit-content;
  margin-top: 3%;
  display: flex;
  align-items: center;
}
#downloadResume:hover {
  color: var(--primary-white);
  background-color: rgb(92, 91, 91);
  transition: 0.2 ease-in-out;
}
.fa-download {
  margin-top: 3%;
}
.fa-facebook,
.fa-twitter,
.fa-whatsapp,
.fa-linkedin,
.fa-instagram {
  color: var(--primary-white);
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-whatsapp:hover,
.fa-linkedin:hover,
.fa-instagram:hover {
  color: rgb(21, 64, 156);
}

/* services css  */
#services {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--primary-white);
  background: url(./components/Images/servicesBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(47, 49, 49); */
}
#services > .allServices {
  height: 50vh;
  width: 20vw;
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
  transition: 0.3s;
  padding: 5px;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  cursor: pointer;
}

#services > .allServices:hover,
.allServices:focus,
.allServices:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#services > .allServices > .innerCard {
  height: 70%;
  background-color: #f9ab00;
}
#services > .allServices > #innerCardOne {
  background: url(./components/Images/webdevlopment.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#services > .allServices > #innerCardTwo {
  background: url(./components/Images/webdesign.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#services > .allServices > #innerCardThree {
  background: url(./components/Images/apidevelopment.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* projects css  */
#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  background: url(./components/Images/projectsBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#projects > .projects > a > img:hover,
.projects > a > img:focus,
.projects > a > img:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#projects > .projects > a > img {
  transition: 0.3s;
}

/* contacts css  */
#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  background: url(../src/components/Images/contactBackground.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 25;
}

/* footer css  */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary-white);
  background-color: rgb(47, 49, 49);
  height: 10vh !important;
}
