/* font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condensed" sans-serif;
}

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-dark: rgba(255, 255, 255, 0);
}

/* navbar css  */

.navbar {
  height: 10vh !important;
  width: 100vw !important;
  z-index: 20;
  position: fixed !important;
}
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  width: 10rem;
  height: 4rem;
}

nav a.nav-link {
  letter-spacing: 0.03rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin: 0 0.75rem 0 0.75rem;
  border-bottom: 0.1875rem solid var(--primary-dark);
}
.navbar-nav > li > a:active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid var(--primary-orange) !important;
}

/* Home css  */

.Home-wraper {
  background: url(../src/components/Images/laptopBackgroundImage.jpg) no-repeat;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-info {
  height: 50%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-info > h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

#btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
  text-decoration: none;
  width: fit-content;
}
#btn-main-offer:hover {
  color: var(--primary-white);
  background-color: var(--primary-hover-red);
  transition: 0.2 ease-in-out;
}

/* about me css  */
#aboutMe {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  background-color: var(--primary-orange);
  z-index: 14;
}

/* services css  */
#services {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  background-color: #f33501;
  z-index: 14;
}

/* projects css  */
#projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  background-color: blueviolet;
  z-index: 14;
}

/* contacts css  */
#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  background: url(../src/components/Images/contactBackground.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 25;
}

/* footer css  */
#footer {
  background-color: aqua;
  height: 20vh !important;
}
