@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.main-component {
  color: white;
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: #1a202c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#scrollToTop {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #1a202c;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: all 0.5s ease-in-out;
  animation: upanddown 1s infinite linear alternate;
  position: fixed;
  bottom: 100px;
  right: 20px;
  opacity: 1;
  z-index: 100;
  &:hover {
    opacity: 0.8;
  }
  svg {
    font-size: 1.5rem;
    color: #fff;
  }
}

@keyframes upanddown {
  to {
    transform: translateY(-5px);
  }
}
.App {
  min-height: 100vh;
  background-color: #1a202c;
  #skillsHeading,
  #projectsHeading,
  #blogsHeading,
  #certificatesHeading,
  #contactHeading {
    border-bottom: 2px solid white;
    width: fit-content;
    margin: auto;
    padding-bottom: 5px;
  }
}
