.blogs .blogCardWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
}

@media (max-width: 992px) {
  .blogCardWrapper {
    grid-template-columns: unset !important;
  }
}

@media (max-width: 767px) {
  .blogCardWrapper {
    overflow: scroll;
    scrollbar-width: none;
    width: 100% !important;
  }
}
